@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<img class="img-responsive" src="\Content\icons\Croods - The Feedback.png" />
<div class="row justify-content-center">
    <div class="col-8">
        <h2>The Vision</h2>
        Punchcode features resources for new learners of coding.
        Learners would be able to save their favorite resources, follow other learners, write tutorials
        and study together.

        <h2>The reality</h2>
        Punchcode is an attempt to build out the minimum viable product (MVP) that would bring this vision to life.

        <h2>Challenges </h2>
        Where do I begin? One of the most difficult challenges was just trying to understand the
        inner-workings of the asp.net. Next is setting up the database. I spent many hours trying to set up the database properly.
        I re-did the project 3 times to ensure that all the relationships between tables were set up properly.  However, I was
        sadly mistaken. The tables looked ok but the many-to-many relationships did not work (implicit or explicit) since nothing could be saved that involved the 2 tables.
        Another challenge was understanding how the view models worked, their relationship to the controllers.
        and how to get multiple tables printed on a single page (if that makes sense). 


        <h2>Future Features</h2>
        <ul>
            <li>Adding dynamic links</li>
            <li>Adding images dynamically</li>
            <li>Ability to save resources</li>
            <li>Pagination</li>
        </ul>


        <h2>Reference</h2>
        <p>Christine Bittle's Varsity Project </p>
        <p>Image source: blush.design </p>

    </div>
</div>

