@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <img src="\Content\icons\index_background.png"  class="img-responsive" alt="Responsive image" />
    <h1>Discover coding resources</h1>
    <p><a href="/Resource/List" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> 
</div>



