@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Discover coding resources</h1>
    <p class="lead">for building great Web sites and Web applications using HTML, CSS and JavaScript, C#, PHP</p>
    <p><a href="/Resource/List" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-10">
        <h2>About this project</h2>
        <p></p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    </div>
   
    
</div>