
@{
    ViewBag.Title = "Error";
}

<h2>Ooops. There was an Error</h2>
<div>
    <img src="~/Content/icons/404cat.png" alt="" />
</div>
<button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("Back to List", "List")</button>
